<div class="container-fluid">
	<div class="row no-gutter">
	  	  <div class="col-xs-4 col-height col-text">

	  	<div class="moveDown"></div>

	        <article><strong>Name:</strong> {{player.name}}</article>
		        <div>
		          <img class="image" src="{{player.class.image}}" alt="Player" ng-click="showMe('player')">
		        </div>
		      <div class="row">
			      <div class="col-xs-2">
			      	 <h4><strong>Health:</strong></h4>
			      </div>
			     	<div class="col-xs-10">
				      <div class="progress inchDown">
							  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
							  aria-valuemin="0" aria-valuemax="100" style="width:{{player.healthbar}}%">
							    {{player.health}}
							  </div>
							</div>
						</div>
					</div>
					<div class="row">
			      <div class="col-xs-2">
			      	 <h4><strong>Special:</strong></h4>
			      </div>
			     	<div class="col-xs-10">
				      <div class="progress inchDown">
							  <div class="progress-bar" role="progressbar" aria-valuenow="40"
							  aria-valuemin="0" aria-valuemax="2" style="width:{{player.specialbar}}%">
							    {{player.special}}
							  </div>
							</div>
						</div>
					</div>


		      <br>
		      <div>
		      	<ul class="list-group reset smallerText">
		      		<li class="list-group-item"><small>Class: {{player.class.name}}</small></li>
		      		<li class="list-group-item"><small>Attack: {{player.weapon.name}}{{player.spell.name}}</small></li>
						  <li class="list-group-item"><small>Strength</small> <span class="badge bigger-plz">{{player.strength}}</span></li>
						  <li class="list-group-item"><small>Intelligence</small> <span class="badge bigger-plz">{{player.intelligence}}</span></li>
						  <li class="list-group-item"><small>Dexterity</small> <span class="badge bigger-plz">{{player.dexterity}}</span></li> 
						  <li class="list-group-item"><small>Max Damage</small> <span class="badge bigger-plz">{{player.weapon.damage}} {{player.spell.damage}}</span></li> 
						</ul>
		      </div>


	  </div>


	  <div class="col-xs-4 col-height col-text">
	  	<div class="moveDown2"></div>
	  	<div class="BattleContext" ng-repeat="each in battleLog">
	  		<p class="{{each.turn}} {{each.highlight}} smallerPlz">{{each.string}}</p>
	  	</div>
	  	<div ng-repeat="each in winLog">
	  		<p class="{{each.highlight}} smallerPlz">{{each.winner}} defeated {{each.loser}} for a final blow of {{each.damage}} hp!</p>
	  	</div>

			  	<div class="col-xs-10 align-bottom">
			  		<button class="col-xs-3 btn-primary attack-btn initial" id="attackBtn" ng-click="attack()">Attack!</button>
			  		<button class="col-xs-4 btn-warning attack-btn initial" id="autoBtn" ng-click="autoAttack()">Auto Attack</button>
			  		<button class="col-xs-4 btn-danger attack-btn initial" ng-click="stopAutoAttack()">Stop Auto</button>
			  	</div>	

	  </div>
	  

	  <div class="col-xs-4 col-height col-text">

	  	<div class="moveDown"></div>

	        <article><strong>Species:</strong> {{enemy.species}}</article>
		        <div>
		          <img class="image" src="{{enemy.image}}" alt="Orc" ng-click="showMe('enemy')">
		        </div>


		      <div class="row">
			      <div class="col-xs-2">
			      	 <h4><strong>Health:</strong></h4>
			      </div>
			     	<div class="col-xs-10">
				      <div class="progress inchDown">
							  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40"
							  aria-valuemin="0" aria-valuemax="100" style="width:{{enemy.healthbar}}%">
							    {{enemy.health}}
							  </div>
							</div>
						</div>
					</div>
					<div class="row">
			      <div class="col-xs-2">
			      	 <h4><strong>Special:</strong></h4>
			      </div>
			     	<div class="col-xs-10">
				      <div class="progress inchDown">
							  <div class="progress-bar" role="progressbar" aria-valuenow="40"
							  aria-valuemin="0" aria-valuemax="2" style="width:{{enemy.specialbar}}%">
							    {{enemy.special}}
							  </div>
							</div>
						</div>
					</div>


		      <br>
		      <div>
		      	<ul class="list-group reset smallerText">
		      		<li class="list-group-item"><small>Class: {{enemy.class.name}}</small></li>
		      		<li class="list-group-item"><small>Attack: {{enemy.weapon.name}}</small></li>
						  <li class="list-group-item"><small>Strength</small> <span class="badge bigger-plz">{{enemy.strength}}</span></li>
						  <li class="list-group-item"><small>Intelligence</small> <span class="badge bigger-plz">{{enemy.intelligence}}</span></li>
						  <li class="list-group-item"><small>Dexterity</small> <span class="badge bigger-plz">{{enemy.dexterity}}</span></li> 
						  <li class="list-group-item"><small>Max Damage</small> <span class="badge bigger-plz">{{enemy.weapon.damage}}</span></li> 
						</ul>
		      </div>


	  </div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="winnerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" ng-click="megBoss()">Game Over</h4>
      </div>
      <div class="modal-body">
      <h4 class="initial">Thank You for playing, try yours wits and play again!</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-primary initial" ng-click="startOver()">Start Over!</button>
        <button type="button" class="btn-primary initial" ng-click="tryAgain()">Try Again!</button>
        <button type="button" class="btn-warning initial" id="keepGoingBtn" ng-click="nextFight()">Keep Going!</button>
        <button type="button" class="btn-default initial" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>