
<section id="class-select" class="card card--class">

      <div class="card__prompt">
        <div>CHOOSE YOUR PATH</div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4" ng-repeat="class in classes">
            <div class="card__button" ng-click="setPlayerClass(class)">
              <a class="class__link btn btn--big btn--blue">
                <span class="btn__prompt"></span>
                <span class="btn__text">{{class}}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
</section>