 <section id="weapon-select" class="card card--weapon">
      <div class="card__prompt">
        <div>choose your weapon</div>
        <div>
          <a class="card__back btn btn--small" 
             href="#"
             previous="card--class">
            <span class="btn__prompt">&lt;</span>
            <span class="btn__text">Back</span>
          </a>          
        </div>
      </div>

      <div class="card__button" ng-repeat="each in weapons">
        <a class="class__link btn btn--big btn--blue" ng-click="setWeapon(each)">
          <span class="btn__prompt">></span>
          <span class="btn__text">{{each}}</span>
        </a>
      </div>


      <div class="card__button">
        <a class="card__link btn btn--big btn--orange" 
           href="#" 
           next="card--battleground">
          <span class="btn__prompt"></span>
          <span class="btn__text">defeat your enemies</span>
        </a>
      </div>
  </section>